<html>

<head>
    <meta charset="UTF-8">
    <title>MyBucket</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/lava.jpg')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css"
    />
</head>

<body ng-app="homeApp" ng-controller="goalCtrl">

    <div style="background:floralwhite;" id="header">
        <div class="area">
            <div>
                <a href="{{ url_for('index')}}" target>
                    <img id="book" src="{{ url_for('static',filename='images/book.jpeg')}}">
                </a>
                <a href="{{ url_for('index')}}" target>
                    <img id="book1" src="{{ url_for('static', filename='images/book.jpeg')}}">
                </a>
            </div>
            <div id="title">
                <u>MyBucket List</u>

            </div>

            <ul id="navigation">
                <li class="selected">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('about')}}">About</a>
                </li>
                <li>
                    <a ng-click="signOut()" href="{{ url_for('index')}}">Sign out</a>
                </li>
            </ul>

        </div>
    </div>
    <!-- The bucket list -->
    <div id="content">

        <div ng-open="homeName()" id="welcome">
            <p>Welcome <b id="welcome1"><u>{{ '{{user | uppercase}}' }}</u></b> to your bucket list.</p>
        </div>
        <div class="imageUpload">
            <p>Profile</p>
            <form action='/profile' method='post' enctype='multipart/form-data'>
                <div class="user one">{{data.image1}}</div>
                <p></p>
                <input id="imageSubmit" type='file' name='uploaded_file' value="choose" accept="image/" multiples>
                <input id="imageSubmit" type='submit' value='Change'>
            </form>
        </div>
        <div class="bucket">
            <form id="bucketForm" method="POST" name="goalie" action="{{ url_for('store') }}">
                <input id="homieInput" type="label" ng-model="user" name="bktName">
                <input id="datepicker"ng-model="date" name="calendar" required/>
                <input id="goal" name="details" ng-model="list" type="text" value="" placeholder="What do u wish to do?" required/>
                <input id="btn-tick" type="submit" ng-click="{{ url_for('store') }};" value="" />
                <div style="color: brown;" id="flashes" ng-show="!timer()" ng-model="flashes" class="flashes">
                    {% for message in get_flashed_messages()%} {{ message }} {% endfor %}
                </div>
            </form>
            <header>
                Your Bucket List
            </header>
            <div id="scroll">
                <div id="one">
                    <label> 1.<big id="item1">{{data.post1}}</big></label>
                </div>
                <p><a ng-click="edit1()" href="{{ url_for('edit1') }}"><button id="edit"></button></a> <a ng-click="delete()"
                        href="{{ url_for('delete1') }}"><button id="delete"></button></a></p>
                <div id="two">
                    <label>2.<big id="item2">{{ data.post2}}</big></label>
                </div>
                <p><button ng-click="edit2()" id="edit"></button> <a ng-click="delete()" href="{{ url_for('delete2') }}"><button id="delete"></button></a></p>
                <div id="three">
                    <label>3.<big id="item3">{{data.post3 }}</big></label>
                </div>
                <p><button ng-click="edit3()" id="edit"></button> <a ng-click="delete()" href="{{ url_for('delete3') }}"><button id="delete"></button></a></p>
                <div id="four">
                    <label>4.<big id="item4">{{data.post4 }}</big></label>
                </div>
                <p><button ng-click="edit4()" id="edit"></button> <a ng-click="delete()" href="{{ url_for('delete4') }}"><button id="delete"></button></a></p>
                <div id="five">
                    <label>5.<big id="item5">{{data.post5}}</big></label>
                </div>
                <p><button ng-click="edit5()" id="edit"></button> <a ng-click="delete()" href="{{ url_for('delete5') }}"><button id="delete"></button></a></p>
                <div id="six">
                    <label>6.<big id="item6">{{data.post6 }}</big></label>
                </div>
                <p><button ng-click="edit6()" id="edit"></button> <a ng-click="delete()" href="{{ url_for('delete6') }}"><button id="delete"></button></a></p>
                <div id="seven">
                    <label>7.<big id="item7">{{data.post7}}</big></label>
                </div>
                <p><button ng-click="edit7()" id="edit"></button> <a ng-click="delete()" href="{{ url_for('delete7') }}"><button id="delete"></button></a></p>
                <div id="eight">
                    <label>8.<big id="item8">{{data.post8}}</b></label>
                </div>
                <p><button ng-click="edit8()" id="edit"></button> <a href="{{ url_for('delete8') }}"><button id="delete"></button></a></p>
                <div id="nine">
                    <label>9.<big id="item9">{{data.post9}}</big></label>
                </div>
                <p><button ng-click="edit9()" id="edit"></button> <a ng-click="delete()" href="{{ url_for('delete9') }}"><button id="delete"></button></a></p>
                <div id="ten">
                    <label>10.<big id="item9">{{data.post10}}</big></label>
                </div>
                <p><button ng-click="edit10()" id="edit"></button> <a ng-click="delete()" href="{{ url_for('delete10') }}"><button id="delete"></button></a></p>
            </div>
        </div>
    </div>
    <div style="background:wheat;" id="footer">
        <span class="divider"></span>
        <div class="area">
            <div id="connect">
                <a href="gegohcomp@gmail.com" target="_blank" class="googleplus"></a>
                <a href="" target="_blank" class="mail"></a>
                <a href="www.facebook.com/georgiegegoh" target="_blank" class="facebook"></a>
                <a href="www.twitter.com/georgiegegoh" target="_blank" class="twitter"></a>
            </div>
            <p id="copyright">
                © 2017 MyBucket List. All Rights Reserved.
                <br> Proudly powered by <a href="http://tuklab.tk" target="_blank">TUKLAB.</a>
            </p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular.js') }}"></script>

</body>

</html>