<html>

<head>
    <meta charset="UTF-8">
    <title>MyBucket</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/lava.jpg')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="homeApp" ng-controller="goalCtrl">

    <div style="background:floralwhite;" id="header">
        <div class="area">
            <div>
                <a href="{{ url_for('index')}}" target>
                    <img id="book" src="{{ url_for('static',filename='images/book.jpeg')}}">
                </a>
                <a href="{{ url_for('index')}}" target>
                    <img id="book1" src="{{ url_for('static', filename='images/book.jpeg')}}">
                </a>
            </div>
            <div id="title">
                <u>MyBucket List</u>

            </div>

            <ul id="navigation">
                <li class="selected">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('about')}}">About</a>
                </li>
                <li>
                    <a ng-click="signOut()" href="{{ url_for('index')}}">Sign out</a>
                </li>
            </ul>

        </div>
    </div>
    <!-- The bucket list -->
    <div id="content">

        <div ng-open="homeName()" id="welcome">
            <p>Welcome <b id="welcome1"><u>{{ '{{user | uppercase}}' }}</u></b> to your bucket list.</p>
        </div>
        <div class="bucket">
            <form id="bucketForm" method="POST" name="goalie" action="{{ url_for('store') }}">
                <input id="homieInput" type="label" ng-model="user" name="bktName" >
                <input id="goal" name="details" ng-model="list" type="text" value="" placeholder="What do u wish to do?" required/>
                <input type="submit" ng-click="{{ url_for('store') }}; submitForm()" value="" id="btn-tick">
                <div id="flashes" ng-show="!timer()" ng-model="flashes" class="flashes">
                    {% for message in get_flashed_messages()%} {{ message }} {% endfor %}
                </div>
            </form>
            <header>
                Your Bucket List
            </header>

            <div id="scroll">
                <div id="one">
                    <label> 1.{{data.post1}}</label>
                </div>
                <p><a href="{{ url_for('edit') }}"><button id="edit"></button></a> <button ng-click="delete1()" id="delete"></button></p>
                <div id="two">
                    <label for="name1">2.{{ data.post2}}</label>
                </div>
                <p><button ng-click="edit2()" id="edit"></button> <button ng-click="delete2()" id="delete"></button></p>
                <div id="three">
                    <label>3.{{data.post3 }}</label>
                </div>
                <p><button ng-click="edit3()" id="edit"></button> <button ng-click="delete3()" id="delete"></button></p>
                <div id="four">
                    <label>4.{{data.post4 }}</label>
                </div>
                <p><button ng-click="edit4()" id="edit"></button> <button ng-click="delete4()" id="delete"></button></p>
                <div id="five">
                    <label>5.{{data.post5}}</label>
                </div>
                <p><button ng-click="edit5()" id="edit"></button> <button ng-click="delete5()" id="delete"></button></p>
                <div id="six">
                    <label>6.{{data.post6 }}</label>
                </div>
                <p><button ng-click="edit6()" id="edit"></button> <button ng-click="delete6()" id="delete"></button></p>
                <div id="seven">
                    <label>7.{{data.post7}}</label>
                </div>
                <p><button ng-click="edit7()" id="edit"></button> <button ng-click="delete7()" id="delete"></button></p>
                <div id="eight">
                    <label>8.{{data.post8}}</label>
                </div>
                <p><button ng-click="edit8()" id="edit"></button> <button ng-click="delete8()" id="delete"></button></p>
                <div id="nine">
                    <label>9.{{data.post9}}</label>
                </div>
                <p><button ng-click="edit9()" id="edit"></button> <button ng-click="delete9()" id="delete"></button></p>
                <div id="ten">
                    <label>10.{{data.post10}}</label>
                </div>
                <p><button ng-click="edit10()" id="edit"></button> <button ng-click="delete10()" id="delete"></button></p>
            </div>
        </div>
    </div>
    <div style="background:wheat;" id="footer">
        <span class="divider"></span>
        <div class="area">
            <div id="connect">
                <a href="gegohcomp@gmail.com" target="_blank" class="googleplus"></a>
                <a href="" target="_blank" class="mail"></a>
                <a href="www.facebook.com/georgiegegoh" target="_blank" class="facebook"></a>
                <a href="www.twitter.com/georgiegegoh" target="_blank" class="twitter"></a>
            </div>
            <p id="copyright">
                © 2017 MyBucket List. All Rights Reserved.
                <br> Proudly powered by <a href="http://tuklab.tk" target="_blank">TUKLAB.</a>
            </p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular.js') }}"></script>

</body>

</html>